.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  font-weight: 700;
  font-family: cursive;
  font-size: 1.2em;
  text-shadow: 0 0 2px rgba(255,255,255, 255);
}

.fighter-preview___right {
  align-items: flex-end;
  text-align: end;
}

.fighter-preview___right img {
  transform: scaleX(-1);
  height: 400px;
}

.fighter-preview___left {
  align-items: flex-start;
  text-align: start;
}

.fighter-preview___left img {
  height: 400px;
}

.fighter-preview___header {
  border: 3px #ba0303 solid;
  padding: 10px;
  margin: 5px;
  width: 80%;
  height: 15%;
  background: rgba(0, 0, 0, 0.4);
}

.fighter-preview___info {
  border: 3px #ba0303 solid;
  padding: 10px;
  margin: 5px;
  width: 80%;
  height: 15%;
  background: rgba(0, 0, 0, 0.4);
}
